<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="Ashet Technologies™ is a high tech company, providing high quality products and development services.">

  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/style-theme.css">
  <script src="/ashet.js"></script>

  <title var="$site.title"></title>
</head>

<body>
  <header>
    <img src="/img/ashet-technologies.svg">
  </header>
  <nav>
    <ul>
      <li class="logo"><a href="/"><img src="/img/ashet.png"></a></li>
      <li class="button"><a href="/products">Products</a></li>
      <li class="button"><a href="/software">Software</a></li>
      <li class="button"><a href="/ip">IPs</a></li>
      <li class="button"><a href="/shop">Shop</a></li>
      <li class="button"><a href="/about">About us</a></li>
      <li class="button"><a href="/support">Support</a></li>
      <li class="space"></li>
      <li class="button icon"><a title="Shopping cart" href="/shop"><svg alt="Shopping Cart Icon" viewBox=" 0 0 24 24">
            <path fill="currentColor"
              d="M17,18C15.89,18 15,18.89 15,20A2,2 0 0,0 17,22A2,2 0 0,0 19,20C19,18.89 18.1,18 17,18M1,2V4H3L6.6,11.59L5.24,14.04C5.09,14.32 5,14.65 5,15A2,2 0 0,0 7,17H19V15H7.42A0.25,0.25 0 0,1 7.17,14.75C7.17,14.7 7.18,14.66 7.2,14.63L8.1,13H15.55C16.3,13 16.96,12.58 17.3,11.97L20.88,5.5C20.95,5.34 21,5.17 21,5A1,1 0 0,0 20,4H5.21L4.27,2M7,18C5.89,18 5,18.89 5,20A2,2 0 0,0 7,22A2,2 0 0,0 9,20C9,18.89 8.1,18 7,18Z" />
          </svg></a>
      </li>
      <li class="button icon"><a title="Login" href="/login"><svg alt="Login Icon" viewBox=" 0 0 24 24">
            <path fill="currentColor"
              d="M19,3H5C3.89,3 3,3.89 3,5V9H5V5H19V19H5V15H3V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3M10.08,15.58L11.5,17L16.5,12L11.5,7L10.08,8.41L12.67,11H3V13H12.67L10.08,15.58Z" />
          </svg></a>
      </li>
    </ul>
  </nav>

  <section id="main">
    <super />
  </section>

  <footer>
    Copyright ©️ <a class="egg" target="_blank" href="https://scandroid.bandcamp.com/track/2517">2517</a>
    Ashet&nbsp;Technologies™ - <a href="/legal">Legal Notice</a>
  </footer>

  <div id="gallery-core-panel" style="display: none">
    <img class="media" id="gallery-core-img">
    <video class="media" id="gallery-core-video"></video>
    <button id="gallery-core-prev" class="nav">
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 24 24">
        <path d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z" />
      </svg>
    </button>
    <button id="gallery-core-next" class="nav">
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 24 24">
        <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
      </svg>
    </button>
    <button id="gallery-core-close">
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 24 24">
        <path
          d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" />
      </svg>
    </button>
    <span id="gallery-core-title"></span>
  </div>
</body>

</html>
