body.homepage>div.container>div.row>div.col-md-3 {
    display: none;
}

body.homepage>div.container>div.row>div.col-md-9 {
    margin-left: 0;
    flex: 0 0 100%;
    max-width: 100%;
}

body.homepage>div.container div[role="main"] h1 {
    text-align: center;
}

body.homepage>div.container div[role="main"] img {
    width: 80%;
    display: block;
}

.cardset {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.card {
    padding: 0.5rem;
    flex: 1 1 0px;
    min-width: 15em;
}

.card hr {
    margin-top: 0;
    padding: 0;
}

.card .card-title {
    font-weight: bold;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px auto 30px auto;
}

.gallery a {
    /* flex-grow: 1; */
    min-width: 15em;
    max-width: 25%;
}

.gallery a>img {
    margin: 0;
}