<extend template="base.html" />

<section id="main" var="$page.content">

    <h2>Personal Computers</h2>
    <ul loop="$page.subpages()" class="products">
        <div if="$loop.it.custom.get('personal_computer', false)">
            <a class="product" href="$loop.it.permalink()">
                <img src="$loop.it.custom.get!('image')">
                <span var="$loop.it.title"></span>
                <div class="background"></div>
            </a>
        </div>
    </ul>

    <h2>Storage Solutions</h2>
    <ul loop="$page.subpages()" class="products">
        <div if="$loop.it.custom.get('storage_solution', false)">
            <a class="product" href="$loop.it.permalink()">
                <img src="$loop.it.custom.get!('image')">
                <span var="$loop.it.title"></span>
                <div class="background"></div>
            </a>
        </div>
    </ul>

    <h2>Monitors & Peripherials</h2>
    <ul loop="$page.subpages()" class="products">
        <div if="$loop.it.custom.get('peripherial', false)">
            <a class="product" href="$loop.it.permalink()">
                <img src="$loop.it.custom.get!('image')">
                <span var="$loop.it.title"></span>
                <div class="background"></div>
            </a>
        </div>
    </ul>

    <h2>Servers</h2>
    <ul loop="$page.subpages()" class="products">
        <div if="$loop.it.custom.get('server', false)">
            <a class="product" href="$loop.it.permalink()">
                <img src="$loop.it.custom.get!('image')">
                <span var="$loop.it.title"></span>
                <div class="background"></div>
            </a>
        </div>
    </ul>

</section>
