<extend template="base.html" />

<section id="main" var="$page.content">

    <h2>Operating Systems</h2>
    <ul loop="$page.subpages()" class="products">
        <div if="$loop.it.custom.get('os', false)">
            <a class="product" href="$loop.it.permalink()">
                <img src="$loop.it.custom.get!('image')">
                <span var="$loop.it.title"></span>
                <div class="background"></div>
            </a>
        </div>
    </ul>

    <h2>Applications</h2>
    <ul loop="$page.subpages()" class="products">
        <div if="$loop.it.custom.get('app', false)">
            <a class="product" href="$loop.it.permalink()">
                <img src="$loop.it.custom.get!('image')">
                <span var="$loop.it.title"></span>
                <div class="background"></div>
            </a>
        </div>
    </ul>

    <h2>Development</h2>
    <ul loop="$page.subpages()" class="products">
        <div if="$loop.it.custom.get('devtool', false)">
            <a class="product" href="$loop.it.permalink()">
                <img src="$loop.it.custom.get!('image')">
                <span var="$loop.it.title"></span>
                <div class="background"></div>
            </a>
        </div>
    </ul>

    <h2>System Utilities</h2>
    <ul loop="$page.subpages()" class="products">
        <div if="$loop.it.custom.get('util', false)">
            <a class="product" href="$loop.it.permalink()">
                <img src="$loop.it.custom.get!('image')">
                <span var="$loop.it.title"></span>
                <div class="background"></div>
            </a>
        </div>
    </ul>

    <h2>Games</h2>
    <ul loop="$page.subpages()" class="products">
        <div if="$loop.it.custom.get('game', false)">
            <a class="product" href="$loop.it.permalink()">
                <img src="$loop.it.custom.get!('image')">
                <span var="$loop.it.title"></span>
                <div class="background"></div>
            </a>
        </div>
    </ul>
</section>
