.text {
  color: #000000;
  color: #000c18;
  color: #0063a5;
  color: #060621;
  color: #101010;
  color: #31958A;
  color: #43B9D8;
  color: #43B9D8;
  color: #505050;
  color: #5B7E7A;
  color: #5ccaef;
  color: #6688cc;
  color: #892F46;
  color: #8f8f8f;
  color: #98d800;
  color: #AB395B;
  color: #AE81FF;
  color: #FFFFFF;
  color: #a57fff;
  color: #e7dc60;
  color: #eeeeee;
  color: #f1f1f1;
  color: #f57f00;
  color: #f82a5d;
  color: #ffffff;
}