* {
  box-sizing: border-box;
}

html {
  /*
  background: #440044;
  color: white;
  */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
}

body {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding-top: 4em;
  padding-bottom: 4em;

  max-width: 64em;
}

header {
  text-align: center;
  padding: 1rem;
  padding-top: 0;
}

header img {
  max-width: 100%;
  height: 3em;
}

nav {
  position: sticky;
  left: 0;
  width: 100%;

  border-top-style: ridge;
  border-bottom-style: ridge;
  padding-left: 1em;
  padding-right: 1em;

  white-space: nowrap;
}

nav ul {
  display: flex;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li a {
  margin: 0;
  padding: 0;
  display: block;
  height: 2em;
  line-height: 2.0em;
  text-decoration: none;
  cursor: pointer;
}

nav ul li.logo a {
  padding-right: 0.5em;
}

nav ul li.button a {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

nav ul li.space {
  flex: 1;
}

nav ul li.button.icon a {
  width: 2.0em;
  padding-left: 0.3em;
  padding-right: 0.3em;
}

nav ul li.logo img {
  height: 100%;
  width: 7em;
  object-fit: contain;

}

nav svg {
  width: 100%;
  height: 100%;
}


section {
  flex: 1;
  padding: 1em;
  /* display: flex;
  flex-direction: column; */
}

section h1 {
  font-size: 1.5em;
}

section h2 {
  font-size: 1.25em;
  border-bottom: ridge;
}

section h2,
section h3 {
  clear: right;
}

section p,
section video {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}


section p.frontmatter {
  font-size: 140%;
}

section img.frontmatter,
section video.frontmatter {
  max-width: 100%;
}

section p.frontmatter.slogan {
  font-size: 180%;
  text-align: center;
}

section form.panel {
  border-style: ridge;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  margin-top: 3em;
  align-self: center;

}

section form.panel table {
  width: 100%;
}

section form.panel table h1 {
  text-align: center;
}

section form.panel table input {
  width: 100%;
}

section ul.products {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-top: -0.5em;
}

section ul.products a.product {
  position: relative;
  display: inline-block;
  width: 10em;
  height: 11.5em;
  text-align: center;
  margin: 0.4em;
  text-decoration: none;
  cursor: pointer;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  box-sizing: border-box;
  padding: 0.5em;
  border-bottom-style: dotted;
  overflow: hidden;
  line-height: 2.0rem;
}

section ul.products a.product img {
  width: 9em;
  height: 9em;
  display: block;
  object-fit: contain;
}

section ul.products a.product .background {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 0%;
  transition: top ease-in-out 0.15s, height ease-in-out 0.15s;
  z-index: -100;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom: none;
}

section ul.products a.product:hover .background {
  top: 0%;
  height: 100%;
}

section img.product-image {
  float: right;
  width: 40%;
  max-height: 50%;
  object-fit: contain;
  padding: 0.5em;
  border-bottom-left-radius: 3em;
  margin-top: -3em;
  margin-left: 1em;
  margin-bottom: 1em;
}

section table.tech-details {
  width: 100%;
  border-collapse: collapse;
}

section table.tech-details td {
  padding: 0.5em;
}

section table.tech-details td ul {
  padding-left: 2em;
}

section ashet-gallery {
  display: flex;
  margin-bottom: 1em;
  flex-direction: row;
  flex-wrap: wrap;
}

ashet-gallery ashet-gallery-item {
  position: relative;
  display: inline-block;
  width: 12rem;
  height: 9rem;
  border: 1px solid white;
  margin: 0.5em;
  margin-bottom: 1.5em;
  flex-grow: 1;
}

/* Display a "Video Play" button on mouse hover */
ashet-gallery ashet-gallery-item a[href$="mp4"]:after {
  display: block;
  content: ' ';
  background-position: center;
  background-repeat: no-repeat;
  background-size: 5em;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZmlsbD0iI2ZmZmZmZiIgZD0iTTEyLDIwQzcuNTksMjAgNCwxNi40MSA0LDEyQzQsNy41OSA3LjU5LDQgMTIsNEMxNi40MSw0IDIwLDcuNTkgMjAsMTJDMjAsMTYuNDEgMTYuNDEsMjAgMTIsMjBNMTIsMkExMCwxMCAwIDAsMCAyLDEyQTEwLDEwIDAgMCwwIDEyLDIyQTEwLDEwIDAgMCwwIDIyLDEyQTEwLDEwIDAgMCwwIDEyLDJNMTAsMTYuNUwxNiwxMkwxMCw3LjVWMTYuNVoiIC8+PC9zdmc+);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.8;
}

/* Gallery Thumbnail */
ashet-gallery ashet-gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Gallery Text */
ashet-gallery ashet-gallery-item span {
  width: 100%;
  text-align: center;
  font-size: 70%;
  white-space: nowrap;
  display: block;
}

/* root panel of the gallery, will overlay everything */

#gallery-core-panel {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}


#gallery-core-panel .media {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 2rem;
}

/* #gallery-core-panel #gallery-media-video {} */

/* #gallery-core-panel #gallery-core-img {} */

#gallery-core-panel #gallery-core-prev {
  position: fixed;
  left: 0;
  top: 0;
  width: 8rem;
  bottom: 0;
}

#gallery-core-panel #gallery-core-next {
  position: fixed;
  right: 0;
  top: 0;
  width: 8rem;
  bottom: 0;
}

#gallery-core-panel #gallery-core-title {
  position: fixed;
  left: 0;
  width: 100%;
  bottom: 0;
  height: 4rem;
  color: white;
  font-size: 3rem;
  text-align: center;
}

#gallery-core-panel #gallery-core-close {
  position: fixed;
  right: 0;
  top: 0;
  width: 8rem;
  height: 8rem;
  padding: 2rem;
}


#gallery-core-panel button {
  display: block;
  border: none;
  background-color: transparent;
  color: white;
  opacity: 0.3;
  cursor: pointer;
}

#gallery-core-panel button:hover,
#gallery-core-panel button:focus {
  opacity: 1.0;
}

#gallery-core-panel button svg {
  fill: white;
}

footer {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 2em;
}

/* uncomment for debug view * /


nav ul li {
  border: 1px solid black;
}
nav ul li.button a:hover {
  background-color: red;
}

/** **/

a.egg {
  text-decoration: none;
}

a.egg:hover {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}

a.egg:visited {
  text-decoration: none;
  color: unset;
}


@media screen and (max-width: 620px) {
  body {
    font-size: 0.7rem;
  }

  nav {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  nav ul li.logo a {
    padding-right: 0.25em;
  }

  nav ul li.button a {
    padding-left: 0.25em;
    padding-right: 0.25em;
  }

  nav ul li.button.icon a {
    width: 1.5em;
    padding-left: 0.1em;
    padding-right: 0.1em;
  }


  #gallery-core-panel #gallery-core-title {
    height: 2.5rem;
    font-size: 1.5rem;
  }
}