@font-face {
  font-family: Xolonium;
  src: url(fonts/xolonium/Xolonium-Regular.ttf);
}

@font-face {
  font-family: Xolonium;
  font-weight: bold;
  src: url(fonts/xolonium/Xolonium-Bold.ttf);
}

@font-face {
  font-family: Oxanium;
  src: url(fonts/oxanium/Oxanium-Regular.ttf);
}

@font-face {
  font-family: Sono;
  src: url(fonts/sono/Sono-Regular.ttf);
}

html {
  color: #FFFFFF;
  background:
    /* url(img/pcb-pattern.png) no-repeat top left, */
    linear-gradient(217deg, hsla(261, 100%, 20%, 0.8), hsla(261, 100%, 20%, 0.0) 70.71%) fixed,
    linear-gradient(127deg, hsla(258, 50%, 30%, 0.8), hsla(258, 50%, 30%, 0.0) 70.71%) fixed,
    linear-gradient(336deg, hsla(288, 100%, 20%, 0.8), hsla(288, 100%, 20%, 0.0) 70.71%) fixed,
    black;
  background-size:
    /* 25%, */
    100%, 100%, 100%;
  font-family: 'Oxanium', sans-serif;
}

a {
  color: #a57fff;
}

a.egg {
  color: #FFFFFF;
}

section ul.products a.product {
  border-color: #AE81FF75;
}

section ul.products a.product .background {
  background-color: #060621;
  border: 2px solid #AE81FF75;
  border-bottom: none;
}

nav {
  background-color: #AE81FF40;
  font-family: 'Xolonium', sans-serif;
}

nav ul a {
  color: white;
}

nav ul li.button a:hover {
  background: linear-gradient(transparent 70%, hsla(261, 100%, 100%, 0.8) 95%);
}

section h1,
section h2,
section h3 {
  font-family: 'Xolonium', sans-serif;
}

section a.product {
  color: white;
}

section em {
  font-weight: bold;
  font-style: normal;
  color: #AE81FF;
}

section video.frontmatter,
section img.frontmatter {
  box-shadow: 0px 0px 10px #000000;
}

section .panel input {
  font-family: 'Sono', monospace;
}

section code {
  background-color: black;
  padding: 0.3em;
  color: #AE81FF;
  font-family: 'Sono', monospace;
}

section img.product-image {
  border: 2px solid #AE81FF;
}


section table.tech-details tr {
  border-top: 1px solid #AE81FF;
  border-bottom: 1px solid #AE81FF;
}

section table.tech-details tr:first-child {
  border-top: none;
}

section table.tech-details tr:last-child {
  border-bottom: none;
}

section table.tech-details td:nth-child(1) {
  border-right: 1px solid #AE81FF;
}